{
	"arrowParens": "avoid",
	"printWidth": 80,
	"singleQuote": true,
	"semi": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"endOfLine": "lf",
	"useTabs": true,
	"importOrder": ["react", "^(?!react)\\w+$", "^[./]"],
	"bracketSameLine": true
}
